@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Roboto:wght@300;400;700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /* Añadimos una fuente más vintage */

/* Estilos generales */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4e9d8;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    gap: 10px; /* Añade un espacio entre los relojes */
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    background: #fff;
}

.time {
    font-size: 2em;
    margin-bottom: 5px;
}

.date {
    font-size: 1em;
}

/* Estilo vintage para el primer reloj */
.clock-1 {
    background: #fdf3e7; /* Color de fondo vintage */
    color: #5e4b47; /* Color de texto vintage */
    font-family: 'Courgette', cursive; /* Fuente vintage */
    border: 2px solid #c2a97a; /* Borde con color vintage */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más suave */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
}

.clock-1 .time {
    font-size: 2.5em; /* Tamaño de fuente más grande */
}

.clock-1 .date {
    font-size: 1.2em; /* Tamaño de fuente más grande */
}

/* Estilos diferentes para cada reloj */
.clock-2 {
    background: #ffffff; /* Fondo blanco para un look minimalista */
    color: #333; /* Texto en gris oscuro para mejor contraste */
    font-family: 'Roboto', sans-serif; /* Mantenemos Roboto por su limpieza */
    border: 1px solid #ddd; /* Borde sutil */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra más ligera */
}

.clock-3 {
    background: #f67280;
    color: #355c7d;
    font-family: 'Lobster', cursive;
}

.clock-4 {
    background: #355c7d;
    color: #f8b195;
    font-family: 'Special Elite', cursive;
}

.clock-5 {
    background: #6c5b7b;
    color: #c06c84;
    font-family: 'Roboto', sans-serif;
}

.clock-6 {
    background: #ffcc5c;
    color: #ff6f69;
    font-family: 'Lobster', cursive;
}

.clock-7 {
    background: #88d8b0;
    color: #ff6f69;
    font-family: 'Special Elite', cursive;
}

.clock-8 {
    background: #ff6f69;
    color: #88d8b0;
    font-family: 'Roboto', sans-serif;
}

/* Estilos responsive */
@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }
}
